

@media screen and (max-width:600px )
{
    span {
        font-size: medium;
    }
}

@media screen and (max-width:400px )
{
    span {
        font-size: smaller;
    }
    .name {
        width: 50%;
    }
}